@import "../../scss/mixens/mixens";
@import "../../scss/functions/functions";
.home {
  .detail {
    margin-top: rem(100px);
    text-align: center;
    h3 {
      font-size: rem(36px);
      font-weight: 700;
      font-style: italic;
      margin-bottom: rem(10px);
    }
    span {
      font-size: rem(18px);
      font-weight: 600;
      display: block;
      margin-bottom: rem(22px);
    }
    img {
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-name: bounce-2;
      animation-timing-function: ease;
    }
  }
}
.allShops {
  margin-top: rem(100px);
  .detail {
    text-align: center;
    h3 {
      font-size: rem(36px);
      font-weight: 700;
      font-style: italic;
      margin-bottom: rem(10px);
    }
    span {
      font-size: rem(18px);
      font-weight: 600;
      display: block;
      margin-bottom: rem(22px);
    }
    img {
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-name: bounce-2;
      animation-timing-function: ease;
    }
  }
}
@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
